language: php
dist: trusty

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - hhvm-3.6

before_script:
    - composer install

script:
    - bin/phpcs --standard=psr2 src/
    - bin/phpmd src/ text cleancode,codesize,controversial,design,unusedcode
    - bin/phpunit
